body {
    background: #FAFAFA;
}

h2,
p,
h3 {
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 32px;
    margin-bottom: 17px;
}

button {
    border: none;
}

hr {
    margin: 0;
    border-color: #EFEFEF;
}

ul {
    padding: 0;
    list-style: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    // display: none;
    
    >div {
        position: relative;
    }

    #close {
        position: absolute;
        right: 0;
        top: -25px;
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
        font-size: 12px;
        cursor: pointer;
    }
}