
.topo-barra {
    background: #353535;
    color: #ffffff;
    text-align: center;
    height: 24px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-principal {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.08);
}

.header-principal .header-principal-items {
    display: flex;
    justify-content: space-between;
}

.header-principal .header-principal-items .logo-principal {
    display: flex;
    align-items: center;
}

.busca {
    margin-top: 24px;
    margin-bottom: 24px;
}

.busca form input[type="text"] {
    height: 40px;
    width: 741px;
    background: #efefef;
    border-radius: 10px;
    border: none;
    padding-left: 24px;
}


.busca form {
    position: relative;
}

.busca form input[type="submit"] {
    @include main-button();
    position: absolute;
    top: 0;
    right: 0;
    width: 119px;
    height: 40px;
}

.minha-conta,
.favoritos,
.container-carrinho {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.minha-conta::before {
    content: '';
    background-image: url(../imagens/icon-minha-conta.png);
    width: 14px;
    height: 16px;
}

.carrinho {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #FAA500;
    padding: 15px;
    border-radius: 8px;
}

nav ul {
    margin: 0;
    display: flex;
    justify-content: center;
    padding: 0;
    gap: 44px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

nav ul li a:hover {
    font-weight: 700;
    color: #FAA500;
}

nav{
    padding-top:13px;
    padding-bottom: 14px;

    ul{
        li{
            display:flex;
            align-items: center;
            gap: 9.75px;
        }
    }
}